<!--  <div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/img/logo-utm.png" class="d-block w-10" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/img/fic.jpeg" class="d-block w-20" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/img/it.jpeg" class="d-block w-20" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> 
-->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/img/logo-utm.png" class="d-block w-20" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/img/fic.jpeg" class="d-block w-20" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/img/it.jpeg" class="d-block w-20" alt="...">
    </div>
  </div>
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 animate__animated animate__headShake">Anthony Manuel Aguilar Pineda</h1>
      <h2 class="animate__animated animate__fadeInLeft">Acerca de mí</h2>
<p class="animate__animated animate__fadeInLeft">Mi nombre es Anthony Manuel Aguilar Pineda, un  estudiante de Tecnologías Web, actualmente cursando el quinto semestre en la carrera de Tecnologías de la Información en la Facultad de Ingeniería Civil de la Universidad Técnica de Machala, en Ecuador.</p>

<img src="assets/img/imagen 1.jpg" class="rounded mx-auto d-block" alt="">
    </div>
  </div>
